<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
body{
  background: rgb(219, 219, 219);
}
.main-body{
  width: 70%;
  padding: 1rem;
}
.promo_card{
  width: 100%;
  color: #fff;
  margin-top: 10px;
  border-radius: 8px;
  padding: 0.5rem 1rem 1rem 3rem;
  background: rgb(67, 70, 74);
}
.promo_card h1, .promo_card span, button{
  margin: 10px;
}

</style>
<body>
    <div class="main-body">
        <h2>Dashboard</h2>
        <div class="promo_card">
         <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPxs-8q1ugbqzOBX4ip7z_6SXZ0YL10JjMThuYZshQfg&s">
          <h1>Welcome to BVRITH STUDENT PORTAL</h1>
        </div>
    </div>
</body>
</html>