<!DOCTYPE html>
<html>
	
<head><style>
h1 {text-align: center;
}</style>
	<title>
		TimeTable
	</title>
</head>
<body>
	<h1>TIME TABLE FOR ACADEMIC YEAR 2022 </h1>
	<img align="middle" src="Screenshot 2022-11-27 124840.jpg"> 
</body>
</html>
