<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<style>
    .content img{
        position: absolute;
        top: 7px;
        left: 7px;
        margin-top: 5px;
    }
    
    .a{
        background-color: #344a72;
        padding-bottom: 25px;
        padding-top: 25px;
        margin-top: 10px;
    }
    body{
        background: rgb(219, 219, 219);
    }
    </style>
<body>
    </html><div class="content">
        <img src ="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSPxs-8q1ugbqzOBX4ip7z_6SXZ0YL10JjMThuYZshQfg&s" height="90px" width="140px">
    </div>
      <h1 align="center" style="color: aliceblue" class="a">BVRIT HYDERABAD College of Engineering For Women</h1>
</body>
